/*==================== 
    Stylization Mobile Frist 
====================*/

/*========== REM measure ==========*/
/* For screens bigger than 1080px: 16px(defalt) */
/* For screens smaller than 1080px*/
@media (max-width: 1080px) {
    html {
        font-size: 93.75%; /* 15px */
    }
}
/* Para telas mmenores que 720px*/
@media (max-width: 720px) {
    html {
        font-size: 87.5%; /* 14px */
    }
}



/*========== Global ==========*/
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}
img {
    width: 100%;
    height: auto;
}



/*========== Header ==========*/
header h1 {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 2.25rem;
    margin: 2.5rem 0;
}
header div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
header div h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
}
header div p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}


/*========== Main ==========*/
main {
    flex: 1;
}
.card-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    margin: 2.5rem 0;
    gap: 2rem;
}
.card {
    width: 85%;
}
.card:nth-child(even) {
    margin-top: 3rem;
}
.card div {
    display: flex;
}
.card div p {
    writing-mode: vertical-rl;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-left: 0.25rem;
}
.card h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0.5rem;
}



/*========== Footer ==========*/
footer p {
    text-align: center;
    color: #A9A9A9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
}



/*==================== 
    Screens bigger than 600px
====================*/
@media (min-width: 600px) {
    body {
        padding: 1.50rem;
    }
    header {
        display: flex;
        justify-content: space-between;
        gap: 2.5rem;
        margin: 5rem 0;
    }
    header h1 {
        margin: 0;
    }
    .card-container {
        grid-template-columns: auto auto auto;
    }
    .card:nth-child(even) {
        margin-top: 0;
    }
    .card:nth-child(2) {
        padding-top: 3rem;
    }
    .card:nth-child(5) {
        margin-top: 3rem;
    }
}